<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>

    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <nav>
        <a href="/views/home.html">
            <img src="/assets/logo.png" alt="Logomarca da empresa Foodfy">
        </a>

        <div>
            <a href="/views/recipes.html">Receitas</a>
            <a href="/views/about.html">Sobre</a>
        </div>
    </nav>

    <section class="align_page">
        <section class="banner">
            <div class="presentation">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas
                    por profissionais do mundo inteiro
                </p>
            </div>
            <img src="/assets/chef.png" alt="">
        </section>
        <div class="title_most_accessed">
            <h2>Mais acessadas</h2>
        </div>

        <section class="most_accessed">
            <div class="recipe">
                <img src="/assets/burger.png" alt="">
                <h3>Triplo burguer bacon</h3>
                <h4>Por Jorge Relato</h4>
            </div>
            <div class="recipe">
                <img src="/assets/pizza.png" alt="">
                <h3>Pizza 4 estações</h3>
                <h4>Por Fabiana Melo</h4>
            </div>
            <div class="recipe">
                <img src="/assets/espaguete.png" alt="">
                <h3>Espaguete ao alho</h3>
                <h4>Por Julia Kinoto</h4>
            </div>
            <div class="recipe">
                <img src="/assets/lasanha.png" alt="">
                <h3>Lasanha mac n' cheese</h3>
                <h4>Por Juliano Vieira</h4>
            </div>
            <div class="recipe">
                <img src="/assets/doce.png" alt="">
                <h3>Docinhos pão-do-céu</h3>
                <h4>Por Ricardo Gouvea</h4>
            </div>
            <div class="recipe">
                <img src="/assets/asinhas.png" alt="">
                <h3>Asinhas de frango ao barbecue</h3>
                <h4>Por Vania Steroski</h4>
            </div>
        </section>

    </section>

    <footer>
        <p>Todos os direitos reservados, receitas Foodfy</p>
    </footer>

</body>

</html>