{% block modal %}
<div class="modal_overlay">
    <div class="modal">
        <div class="modal_content">
            <img src="" alt="">
            <h3></h3>
            <h4></h4>
        </div>
        <div class="close_modal">
            <i>fechar modal</i>
        </div>
    </div>

</div>

{% endblock %}