<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>

    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/recipes.css">
</head>

<body>
    <nav>
        <a href="/home">
            <img src="/assets/logo.png" alt="Logomarca da empresa Foodfy">
        </a>

        <div>
            <a href="/recipes">Receitas</a>
            <a href="/about">Sobre</a>
        </div>
    </nav>

    <section class="align_page">
        <section class="most_accessed recipes">
            <div class="recipe">
                <img src="/assets/burger.png" alt="">
                <h3>Triplo burguer bacon</h3>
                <h4>Por Jorge Relato</h4>
            </div>
            <div class="recipe">
                <img src="/assets/pizza.png" alt="">
                <h3>Pizza 4 estações</h3>
                <h4>Por Fabiana Melo</h4>
            </div>
            <div class="recipe">
                <img src="/assets/espaguete.png" alt="">
                <h3>Espaguete ao alho</h3>
                <h4>Por Julia Kinoto</h4>
            </div>
            <div class="recipe">
                <img src="/assets/lasanha.png" alt="">
                <h3>Lasanha mac n' cheese</h3>
                <h4>Por Juliano Vieira</h4>
            </div>
            <div class="recipe">
                <img src="/assets/doce.png" alt="">
                <h3>Docinhos pão-do-céu</h3>
                <h4>Por Ricardo Gouvea</h4>
            </div>
            <div class="recipe">
                <img src="/assets/asinhas.png" alt="">
                <h3>Asinhas de frango ao barbecue</h3>
                <h4>Por Vania Steroski</h4>
            </div>


            <div class="recipe">
                <img src="/assets/burger.png" alt="">
                <h3>Triplo burguer bacon</h3>
                <h4>Por Jorge Relato</h4>
            </div>
            <div class="recipe">
                <img src="/assets/pizza.png" alt="">
                <h3>Pizza 4 estações</h3>
                <h4>Por Fabiana Melo</h4>
            </div>
            <div class="recipe">
                <img src="/assets/espaguete.png" alt="">
                <h3>Espaguete ao alho</h3>
                <h4>Por Julia Kinoto</h4>
            </div>
            <div class="recipe">
                <img src="/assets/lasanha.png" alt="">
                <h3>Lasanha mac n' cheese</h3>
                <h4>Por Juliano Vieira</h4>
            </div>
            <div class="recipe">
                <img src="/assets/doce.png" alt="">
                <h3>Docinhos pão-do-céu</h3>
                <h4>Por Ricardo Gouvea</h4>
            </div>
            <div class="recipe">
                <img src="/assets/asinhas.png" alt="">
                <h3>Asinhas de frango ao barbecue</h3>
                <h4>Por Vania Steroski</h4>
            </div>

        </section>

    </section>

    <div class="modal_overlay">
        <div class="modal">
            <div class="modal_content">
                <img src="" alt="">
                <h3>Asinhas de frango ao barbecue</h3>
                <h4>Vânia Steroski</h4>
            </div>
            <div class="close_modal">
                <i>fechar modal</i>
            </div>
        </div>


    </div>
    <footer>
        <p>Todos os direitos reservados, receitas Foodfy</p>
    </footer>


    <script src="/scripts/script.js"></script>

</body>

</html>