.content_about h2 {
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
    font-weight: bold ;
}

.content_about h3{
    font-size: 20px;
    color: #111111;
    margin-bottom: 20px;
}

.content_about p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
}

.content_about{
    margin-bottom: 50px;
}